 /* Universal box sizing */
 * {   
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    }
     
    /* Style the header */
    .header {       
        background-color: #566c6f;
        overflow: hidden;   
        text-align: center;   
        padding:0px

    }
    
    p  { 
        font-size: 1em;
    }

    h1 {
        color: black;
        justify-items: center;
        text-align: center;
        font-size: 2.5em;
    } 
    h2 {
        text-align: center;
        font-size: 1.85em;
    }
                
    
    
        
   
    body {
        background-color: #dee4e6;
    }

   p, h2, h3 {color: black;} 

    
    /* Style the links inside the navigation bar */
.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5em;
   
}

     
    /* Change color on hover */
    .topnav a:hover {   
    background-color: #a5b6b8;
        color:black;
    }

    /* underline current page on navigation */
   .topnav[aria-current="page"]{
    text-decoration: underline;
   }
   
 iframe {
    margin-top: 20px;
    margin-bottom: 20px;
 }
 .gmap_canvas {overflow:hidden;background:none!important;height:500px;width:500px;}

 .mapouter{position:relative;text-align:right;height:500px;width:500px;}

img, iframe  { 
    border-style: solid;
    border-color: #968066;
    border-width:20px;        
}

.one {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}


.two {
    display: flex;
    
    justify-items: left;

    flex-wrap: wrap;
    
}


.a {
    
    
   flex-wrap: wrap;
   width: 550px;
   margin-right: auto;
   margin-top: 20px;
   margin-bottom: 20px;
}
.b {
    display: block;
    width: 300px;

}


footer p {
    color: white;
    margin-top: 50px;
    margin-right: 40px;
}

footer img {

    border: none;
    width: 60px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;

}
footer { 
   
    background-color: #566c6f;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 5px;
    
}

@media only screen and (max-width: 400px) {
    
    a img {
      max-width: 95%;
      padding-top: 50%;
      border: none;
    }
  }

